/lib
*.pickle
*.marshal
/documentation
/literature
/.externalToolBuilders
/conference
*.pyc
*.pyo
test_data_old
/old
.DS_Store
._.DS_Store
.project
.pydevproject
/xcamshift_dictionary.txt
._*
test_data
test_data_old
*.c
*.tgz