/lib
*.pickle
*.marshal
/documentation
/literature
/.externalToolBuilders
/conference
*.pyc
*.pyo
test_data_old
/old
.DS_Store
._.DS_Store
.project
.pydevproject
/xcamshift_dictionary.txt
._*
test_data
test_data_old
*.c
*.tgz
src/tools
.idea
core
*valgrind*
*.swp
*.html
src/cython/build.out
*~
cython_debug_info*
xplor.log.*
suppress_xplor.supp
.gitignore
*(Case Conflict*
NMRDG2014/
.refactorings/
*.launch
.gitignore
*.profile
